html, body, #root, .App, .AppContent, .ChatDialogGrid {
  height: 100%;
}

textarea, input, button, select {
  font-family: inherit;
}

.App {
  text-align: center;
}

.AppContent {
  display: flex;
  background-color: #f8f8f8;
}

.ParticipantForm {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ParticipantInput {
  margin-left: 10px;
}

.StartButton {
  margin-top: 50px;
  width: 100px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.Backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
}

.Modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 900px;
  min-height: 200px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ModalContent {
  margin: 20px;
}

.Labels {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  align-items: center;
}

.Labels label {
  margin-left: 24px;
  max-width: 100px;
}

.Question {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.RadioButtons {
  margin-right: 120px;
}

.RadioButtons input {
  margin-left: 17px;
  cursor: pointer;
}

.QuestionnaireSubmitButton {
  margin-top: 40px;
  float: right;
  margin-right: 176px;
  cursor: pointer;
  height: 24px;
}

.ModalFooter button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.ChatDialogGrid {
  display: flex;
  width: 50%;
}

.ChatDialogList {
  display: flex;
  height: 100%;
  width: 50%;
}

.ChatDialogGrid .Dialogs {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 40px;
}

.ChatDialogList .Dialogs {
  flex-basis: 65%;
  flex-shrink: 0;
  margin-top: 0;
}

.Dialog {
  justify-content: center;
}

.Dialog.Active {
  display: flex;
}

.Dialog.Inactive {
  display: none;
}

.ChatDialogGrid .Dialog {
  width: 50%;
  height: 50%;
}

.ChatDialogList .Dialog {
  width: 100%;
  height: 70%;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}

.ChatDialog {
  height: 94%;
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ChatDialogGrid .ChatDialog {
  border: 1px solid grey;
  background-color: #fff;
}

.ChatDialogList .ChatDialog {
  margin-top: 20px;
  border: none;
}

.ChatList {
  width: 35%;
  flex-shrink: 0;
  flex-grow: 0;
  border-top: 1px solid #e7e7e7;
}

.ChatListItem {
  padding: 20px 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-shrink: 0;
  height: 80px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.ChatListItem.Active {
  background-color: #fff;
}

div .ChatListItem.Active ::after {
  content: "";
  background-color: #fff;
  height: 120px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 98%;
}

.ChatListItem .Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 78%;
}

.ChatListItem .LastMessage {
  font-size: 14px;
  color: #7b7b7b;
  max-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Subject {
  margin: 30px;
  font-size: 18px;
  text-decoration: none;
}

.ChatListItem .Subject {
  flex-basis: 56%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
}

.ChatDialog .Subject {
  max-width: 60%;
  align-self: center;
}

.Ended {
  color: grey;
  opacity: 0.5;
}

.ChatDialogGrid .ChatDialog.Ended {
  border: 1px solid lightgrey;
}

.ChatDialogGrid .ChatDialog.Focused {
  outline: lightgrey auto 5px;
  box-shadow: 0 0 4px 3px;
}

.TitleWaitTime {
  position: absolute;
  right: 20px;
  top: 20px;
}

.WaitTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff0000;
  color: #fff;
  align-self: center;
}

.ChatMessageList {
  flex-basis: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.QuestionMessage {
  align-self: flex-start;
  margin: 10px 60px 0px 20px;
  text-align: left;
  border-radius: 5px 5px 5px 0px;
  background-color: grey;
  color: white;
}

.QuestionMessage + .AnswerMessage {
  margin-top: 20px;
}

.Unread .QuestionMessage:last-of-type {
  background-color: red;
}

.AnswerMessage {
  align-self: flex-end;
  margin: 10px 20px 0px 60px;
  text-align: right;
  border-radius: 5px 5px 0px 5px;
  background-color: lightgray
}

.AnswerMessage + .QuestionMessage {
  margin-top: 20px;
}

.ChatMessage p {
  margin: 10px;
}

.ChatDialogFooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

.SendButton {
  height: 72px;
  width: 76px;
  font-size: 14px;
  margin-left: 10px;
  background-color: #fafafa;
  border: 1px solid grey;
  cursor: pointer;
}

.SendButton:hover {
  background-color: #f3f3f3;
}

.SendButton:disabled {
  cursor: inherit;
}

.MessageTextarea {
  resize: none;
  flex-grow: 1;
  height: 50px;
  padding: 10px;
}

.AnswerButtons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.AnswerButtons button {
  margin-left: 18px;
  height: 24px;
  width: 100px;
}
